server:
  port: 8082
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true

spring:
  config:
    activate:
      on-profile: prod
  datasource:
    # 使用 docker-compose.yml 注入的环境变量
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Shanghai

catalog-service:
  url: ${CATALOG_SERVICE_URL}   # 对应 docker-compose 的 catalog-service

user-service:
  url: ${USER_SERVICE_URL}      # 对应 docker-compose 的 user-service

logging:
  level:
    root: INFO
    com.zjsu.nsq.enrollment: INFO
