server:
  port: 8082
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true

spring:
  application:
    name: enrollment-service
  config:
    activate:
      on-profile: dev  # 本地开发环境
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/enrollment_db?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&useUnicode=true
    username: Klisor
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          time_zone: Asia/Shanghai
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848  # 本地Nacos
        namespace: dev
        group: COURSEHUB_GROUP
        ephemeral: true
        heart-beat-interval: 5000
        heart-beat-timeout: 15000

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.zjsu.nsq.enrollment: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE